log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
db/*.sqlite3
data/*
config/database.yml
public/microarrays
app/matlab/microarray/*.prj
app/matlab/microarray/*mcc*.c
app/matlab/microarray/*_main*.c
app/matlab/microarray/*.log