<p>
  <b>Source:</b>
  <%=h @interaction.source %>
</p>

<p>
  <b>Experiment type:</b>
  <%=h @interaction.experiment_type %>
</p>


<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
