<h2 id="gene-name">Cancers</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for cancer in @cancers %>
  <tr>
    <td><%= link_to cancer.name, cancer %></td>
    <td><%=h cancer.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cancer', new_cancer_path %>
